body, input, textarea, select { font-family:Verdana, Geneva, sans-serif; }
h1, h2, h3, h4, h5, h6, .heading { font-family:Verdana, Geneva, sans-serif; }

.location_id {
    color: yellow;
    background-color: black;
    display: inline-block;
    margin-bottom: 4px;
    padding: 2px 8px;
    border-radius: 6px;
}

.location_id.error {
    color: red;
}

.header {
    background-color: #BB7722;
    box-shadow: 0px 4px 16px 0px #554411;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    padding: 0 8px;
    color: white;
    text-shadow: none;
}

.logout {
    cursor: pointer;
}
.logout:hover {
    text-shadow: black 2px 2px;
}

.banner {
    display: block;
    margin: 0 auto;
    width: 90%;
    position: relative;
}

.banner img {
    max-width: 100%;
    max-height: 300px;
    height: auto;
    border: 4px solid;
    display: block;
    margin: 0 auto;
}

.footer {
    width: 100%;
    color: white;
    background-color: #BB7722;
    padding: 2px 0;
    text-align: center;
}

.error {
    color: red;
    font-style: italic;
    font-size: 12px;
}

/* forms */
.form_headers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.form_headers > * {
    margin: 8px;
}

/* responsive grids */
.responsive-grid.padded .ui-block-b,
.responsive-grid.padded .ui-block-c,
.responsive-grid.padded .ui-block-d,
.responsive-grid.padded .ui-block-e {
    padding-left: 6px;
}

.responsive-grid .ui-field-contain label {
    text-align: right;
}

.reasonable-width-1 .ui-input-text {
    max-width: 140px;
}

.reasonable-width-2 .ui-input-text {
    max-width: 200px;
}

.reasonable-width-3 .ui-input-text {
    max-width: 200px;
}

.reasonable-width-4 .ui-input-text {
    max-width: 200px;
}

/* styles applied to widths less than 40em */
@media (max-width: 40em) {
    .responsive-grid .ui-block-a,
    .responsive-grid .ui-block-b,
    .responsive-grid .ui-block-c,
    .responsive-grid .ui-block-d,
    .responsive-grid .ui-block-e {
        width: 100%;
        float: none;
    }

    .responsive-grid.padded .ui-block-b,
    .responsive-grid.padded .ui-block-c,
    .responsive-grid.padded .ui-block-d,
    .responsive-grid.padded .ui-block-e {
        padding-left: 0px;
    }

    .responsive-grid .ui-field-contain label {
        text-align: inherit;
    }

    .reasonable-width-1 .ui-input-text,
    .reasonable-width-2 .ui-input-text {
        max-width: none;
    }
}

/***************************************************************************************************/
/********************************************   SLIDER  ********************************************/
/***************************************************************************************************/
.swiper-container {
    width: 90%;
    height: 260px;
    text-shadow: none;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide-caption {
    position: absolute;
    z-index: 10;
    color: white;
    background: rgba(0,0,0,0.4);
    padding: 0 12px;
}
/***************************************************************************************************/
/***************************************************************************************************/
